---
import Favicon from "@/assets/favicon.svg";
import GoogleIcon from "@/assets/google.svg";
import GithubIcon from "@/assets/github.svg";
import Layout from "@/layouts/Layout.astro";

import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);

if (session) {
  return Astro.redirect("/dashboard");
}
---

<Layout
  title="Iniciar Sesión"
  description="Control de Finanzas - Iniciar Sesión"
  inLogin
>
  <div
    class="flex justify-center items-center gap-3 w-full h-dvh relative z-10"
  >
    <div class="p-4 rounded-xl bg-gray-50 shadow-md space-y-4">
      <header class="flex flex-col items-center">
        <Favicon class="w-10 h-auto" />
        <h1 class="font-cinzel text-2xl font-bold">Control de Finanzas</h1>
      </header>
      <p class="">Por favor, inicia sesión para continuar.</p>
      <div class="flex items-center gap-4">
        <button
          class="flex items-center justify-center gap-2 bg-white border border-gray-300 rounded-full px-4 py-2 cursor-pointer hover:bg-gray-50 transition-colors w-full"
          id="google-login"
        >
          <span>
            <GoogleIcon class="size-5 inline-block" />
          </span>
          <span>Google</span>
        </button>
        <button
          class="flex items-center justify-center gap-2 bg-white border border-gray-300 rounded-full px-4 py-2 cursor-pointer hover:bg-gray-50 transition-colors w-full"
          id="github-login"
        >
          <span>
            <GithubIcon class="size-5 inline-block" />
          </span>
          <span>GitHub</span>
        </button>
      </div>
    </div>
  </div>
</Layout>

<script>
  const { signIn } = await import("auth-astro/client");
  const $btnGoogle = document.getElementById("google-login");
  const $btnGithub = document.getElementById("github-login");

  $btnGoogle?.addEventListener("click", () => {
    signIn("google");
  });
  $btnGithub?.addEventListener("click", () => {
    signIn("github");
  });
</script>
