---
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);

if (session) {
  return Astro.redirect("/dashboard");
}
---

<Layout
  title="Iniciar Sesi贸n"
  description="Control de Finanzas - Iniciar Sesi贸n"
  inLogin
>
  <h1 class="text-2xl font-bold">Iniciar Sesi贸n</h1>
  <p class="mt-4">Por favor, inicia sesi贸n para continuar.</p>
</Layout>
