---
import Layout from "@/layouts/Layout.astro";
import { getCategories } from "@/lib/turso";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect("/login");
}

const categories = await getCategories();
---

<Layout title="Dashboard" description="Control de Finanzas - Dashboard">
  <div
    class="w-full p-4 min-h-dvh flex items-center justify-center relative z-10"
  >
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="categories">
        <h2 class="text-2xl font-bold mb-4">Categorías</h2>
        <ul>
          {
            categories.map((category: any) => (
              <li class="mb-2">
                <strong>{category.name}</strong>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="form-categories">
        <h2 class="text-2xl font-bold mb-4">Agregar Categoría</h2>
        <form>
          <input
            type="text"
            placeholder="Nombre de la categoría"
            class="border p-2 rounded w-full mb-2"
          />
          <button class="bg-blue-500 text-white p-2 rounded"> Agregar </button>
        </form>
      </div>
    </div>
  </div>
</Layout>
