---
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect("/login");
}
---

<Layout title="Dashboard" description="Control de Finanzas - Dashboard">
  <div
    class="w-full min-h-screen flex flex-col items-center justify-center p-4 bg-gradient-section"
  >
    <h1 class="text-2xl font-bold">Bienvenido al Dashboard</h1>
    <p class="">Aquí podrás ver un resumen de tus finanzas.</p>
  </div>
</Layout>
