---
import ChartBarIcon from "@/assets/chartBar.svg";
import ClockIcon from "@/assets/clock.svg";
import ChartPieIcon from "@/assets/chartPie.svg";
import ChartArcsIcon from "@/assets/chartArcs.svg";
import RegisterIcon from "@/assets/register.svg";
import EyesIcon from "@/assets/eyes.svg";

import CardDashboard from "@/components/CardDashboard.astro";
import NavigationCardsDash from "@/components/NavigationCardsDash.astro";
import ContainerCardsDash from "@/components/ContainerCardsDash.astro";
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";
import WelcomeDash from "@/components/WelcomeDash.astro";
import NavigationMonthDash from "@/components/NavigationMonthDash.astro";
import ResumeCardDash from "@/components/ResumeCardDash.astro";
const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect("/login");
}
---

<Layout title="Dashboard" description="Control de Finanzas - Dashboard">
  <main
    class="w-full min-h-screen p-4 relative z-10 flex items-start flex-col gap-4 overflow-x-hidden"
  >
    <!-- header-false -->
    <header class="w-full h-[50px]"></header>
    <!-- saludamos al usuario -->
    <WelcomeDash />

    <!-- navegacion de mes -->
    <NavigationMonthDash />

    <!-- tarjetas de resumen -->
    <ResumeCardDash />

    <!-- navegacion de detalles -->
    <NavigationCardsDash />

    <!-- detalles resume -->
    <ContainerCardsDash />
  </main>
</Layout>

<script>
  const $itemsNav = document.querySelectorAll(
    "#nav-list li a",
  ) as NodeListOf<HTMLLIElement>;

  const $detailsContainer = document.querySelector(
    ".details-container",
  ) as HTMLElement;

  $itemsNav[0].classList.add("active");

  function setActiveIndicator(transform: string, left: string) {
    const $activeIndicator = document.getElementById(
      "active-indicator",
    ) as HTMLLIElement;
    $activeIndicator.style.transform = transform;
    $activeIndicator.style.left = left;
  }

  function moveToSection(sectionIndex: number) {
    if ($detailsContainer) {
      const translateValue = -sectionIndex * 100;
      $detailsContainer.style.transform = `translateX(${translateValue}%)`;
    }
  }

  $itemsNav.forEach(($item) => {
    $item.addEventListener("click", (e) => {
      $itemsNav.forEach(($el) => $el.classList.remove("active"));
      $item.classList.add("active");
      e.preventDefault();
      const { itemName } = $item.dataset;
      if (!itemName) return;

      switch (itemName) {
        case "Resumen":
          setActiveIndicator("translateX(0px)", "4px");
          moveToSection(0);
          break;
        case "Análisis":
          setActiveIndicator(`translateX(calc(100% - 2px))`, "0px");
          moveToSection(1);
          break;
        case "Presupuestos":
          setActiveIndicator(`translateX(calc(200% - 2px))`, "0px");
          moveToSection(2);
          break;
        case "Gastos":
          setActiveIndicator(`translateX(calc(300% - 4px))`, "0px");
          moveToSection(3);
          break;
      }
    });
  });

  // Inicializar en la primera sección
  document.addEventListener("DOMContentLoaded", () => {
    setActiveIndicator("translateX(0px)", "4px");
    moveToSection(0);
  });
</script>
