@import "tailwindcss";

/* Supports weights 400 */
@import '@fontsource/tenor-sans';
/* Supports weights 100-900 */
@import '@fontsource-variable/inter';
/* Supports weights 400-900 */
@import '@fontsource-variable/cinzel';

@theme {
  --font-inter: 'Inter Variable', sans-serif;
  --font-cinzel: 'Cinzel Variable', serif;
  --font-tenor-sans: 'Tenor Sans', sans-serif;
}

html {
  overflow-x: hidden;
}

.subtitle {
  font-size: clamp(1.5rem, 2.5vw, 1.75rem);
}

.paragraph-section {
  font-size: clamp(.9rem, 3vw, 1.25rem);
  line-height: normal;
}

.btn-shadow-primary {
  box-shadow: 2px 3px 3px rgba(0, 0, 255, 0.1), -2px 3px 3px rgba(0, 0, 255, 0.1);
  transition: box-shadow 0.2s ease, transform 0.2s ease;

  &:hover {
    box-shadow: 2px 3px 3px rgba(0, 0, 255, 0.5), -2px 3px 3px rgba(0, 0, 255, 0.5);
    transform: translateY(-2px);
  }
}

.btn-shadow-secondary {
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2), -2px 3px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease, transform 0.2s ease;

  &:hover {
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4), -2px 3px 3px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
  }
}

.bg-gradient-section {
    background: radial-gradient(
      circle at 50% 50%,
      var(--color-sky-100) 20%,
      var(--color-gray-50) 80%
    );
  }