---
import RegisterIcon from "@/assets/register.svg";
import CardDashboard from "@components/CardDashboard.astro";
---

<div class="w-full cont-card">
  <CardDashboard
    title="Registro de Gastos"
    description="Todos tus gastos registrados para Julio 2025"
  >
    <RegisterIcon class="size-5" slot="icon" />
    <p>hola</p>
  </CardDashboard>
</div>
