---
import CardDashboard from "../CardDashboard.astro";
---

<CardDashboard noHeader>
  <header class="mb-2">
    <h2 class="font-semibold text-center">Balance</h2>
  </header>
  <article class="space-y-1">
    <span class="text-xl text-green-600 font-semibold block text-center"
      >$5000</span
    >
    <p class="text-gray-600 text-xs text-center">Disponible para gastar</p>
  </article>
</CardDashboard>
