---
import CardDashboard from "../CardDashboard.astro";
---

<CardDashboard noHeader>
  <header class="mb-2">
    <h2 class="font-semibold text-center">Total Gastado</h2>
  </header>
  <article class="space-y-1">
    <span class="text-xl font-semibold text-center block">$100</span>
    <p class="text-gray-600 text-xs text-center">Gastos del mes actual</p>
  </article>
</CardDashboard>
