---
// import { getIncomes } from "@/lib/incomes";
import CardDashboard from "../CardDashboard.astro";
// const incomes = await getIncomes();
---

<CardDashboard noHeader>
  <header class="mb-2">
    <h2 class="font-semibold text-center">Ingresos Mensuales</h2>
  </header>
  <article class="space-y-1">
    <span class="text-xl text-green-600 font-semibold block text-center"
      >$100</span
    >
    <p class="text-gray-600 text-xs text-center truncate">
      Descripción de los ingresos mensuales.
    </p>
  </article>
</CardDashboard>
