---
import CardDashboard from "../CardDashboard.astro";
---

<CardDashboard noHeader>
  <header class="mb-2">
    <h2 class="font-semibold text-center">Presupuesto Total</h2>
  </header>
  <article class="space-y-1">
    <span class="text-xl font-semibold block text-center">$300</span>
    <p class="text-gray-600 text-xs text-center">Límite mensual establecido</p>
  </article>
</CardDashboard>
