---
import ExpertsSection from "@sections/ExpertsSection.astro";
import FinancialFreedomSection from "@sections/FinancialFreedomSection.astro";
import Hero from "@sections/Hero.astro";
import InvestmentSection from "@sections/InvestmentSection.astro";
import SavingsSection from "@sections/SavingsSection.astro";
import Layout from "../layouts/Layout.astro";

import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);

if (session) {
	return Astro.redirect("/dashboard");
}
---

<Layout
	title="Control de Finanzas"
	description="Este es un ejemplo de aplicación de control de finanzas"
>
	<main class="">
		<Hero />
		<SavingsSection />
		<InvestmentSection />
		<ExpertsSection />
		<FinancialFreedomSection />
	</main>
</Layout>
