---
import Hero from "@sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Control de Finanzas"
	description="Este es un ejemplo de aplicación de control de finanzas"
>
	<main>
		<Hero />
	</main>
</Layout>
