---
import ArrowIcon from "@/assets/arrow.svg";
import ExpertsSection from "@sections/ExpertsSection.astro";
import FinancialFreedomSection from "@sections/FinancialFreedomSection.astro";
import Hero from "@sections/Hero.astro";
import InvestmentSection from "@sections/InvestmentSection.astro";
import SavingsSection from "@sections/SavingsSection.astro";
import Layout from "../layouts/Layout.astro";

// import { getSession } from "auth-astro/server";
// const session = await getSession(Astro.request);

// if (session) {
// 	return Astro.redirect("/dashboard");
// }
---

<Layout
	title="Control de Finanzas"
	description="Este es un ejemplo de aplicación de control de finanzas"
>
	<main class="">
		<Hero />
		<SavingsSection />
		<InvestmentSection />
		<ExpertsSection />
		<FinancialFreedomSection />
		<div class="fixed bottom-4 right-4 btn-animate">
			<button
				class="bg-gradient-to-b from-blue-700 to-blue-500 border-blue-500 text-white btn-shadow-primary p-2 rounded-full cursor-pointer font-semibold border-2 animate-bounce"
				id="scroll-to-top"
			>
				<span class="-rotate-90 flex items-center justify-center text-gray-50">
					<ArrowIcon class="size-8" />
				</span>
			</button>
		</div>
	</main>
</Layout>

<script>
	const $btnScroll = document.getElementById("scroll-to-top");
	$btnScroll?.addEventListener("click", () => {
		window.scrollTo({
			top: 0,
			behavior: "smooth",
		});
	});
</script>

<style>
	.btn-animate {
		animation: show-btn 3s linear both;
		animation-timeline: scroll(root block);
		animation-range: 0% 200px;
	}
	@keyframes show-btn {
		from {
			transform: translateY(100px);
			opacity: 0;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}
</style>
