---
import ArrowIcon from "@/assets/arrow.svg";
---

<section class="w-full max-w-6xl mx-auto bg-gray-50 rounded-full p-2 shadow-lg">
  <nav class="flex items-center justify-between w-full max-w-6xl mx-auto">
    <button
      class="p-2 rounded-full border border-gray-100 cursor-pointer bg-white"
    >
      <span class="rotate-180 block">
        <ArrowIcon class="size-5" />
      </span>
    </button>
    <span class="text-lg font-semibold">Septiembre 2023</span>
    <button
      class="p-2 rounded-full border border-gray-100 cursor-pointer bg-white"
    >
      <span class="block">
        <ArrowIcon class="size-5" />
      </span>
    </button>
  </nav>
</section>
