---
import CardBalance from "./cards/CardBalance.astro";
import CardResumeIncomes from "./cards/CardResumeIncomes.astro";
import CardTotalBudget from "./cards/CardTotalBudget.astro";
import CardTotalSpent from "./cards/CardTotalSpent.astro";
---

<section
  class="w-full max-w-6xl mx-auto mt-4 p-6 rounded-lg shadow-md"
  style="background-image: url('https://www.transparenttextures.com/patterns/cartographer.png'), linear-gradient(to right, var(--color-sky-100), var(--color-emerald-100)); background-blend-mode: color-burn;"
>
  <h2 class="text-lg font-semibold mb-2">Resumen del Mes</h2>
  <p class="text-gray-800 mb-4">
    Aquí puedes ver un resumen de tus finanzas para el mes actual.
  </p>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-4">
    <CardResumeIncomes />
    <CardTotalSpent />
    <CardBalance />
    <CardTotalBudget />
  </div>
</section>
