---
import GoogleIcon from "@/assets/google.svg";
import Logo from "@/assets/logo.svg";
import Buttons from "@/components/Buttons.astro";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);

interface Props {
  inLogin?: boolean;
}
const { inLogin = false } = Astro.props as Props;
---

<header
  class="p-2 rounded-full fixed top-2 z-50 left-0 right-0 animate-scroll-down w-11/12 max-w-6xl mx-auto"
>
  <div class="flex items-center justify-between w-full">
    <a href="/">
      <Logo class="w-full h-auto max-w-36 pl-1" />
    </a>
    {
      !inLogin && (
        <>
          {session ? (
            <Buttons name="Cerrar Sesión" btnId="logout-button" secondary />
          ) : (
            <Buttons name="Iniciar Sesión" btnId="login-button">
              <GoogleIcon class="size-5 inline-block" slot="icon" />
            </Buttons>
          )}
        </>
      )
    }
  </div>
</header>

<style>
  .animate-scroll-down {
    animation: scrollDown 5s both;
    animation-timeline: scroll(root block);
    animation-range: 0px 200px;
  }

  @keyframes scrollDown {
    from {
      backdrop-filter: blur(0px);
      background-color: transparent;
    }
    to {
      backdrop-filter: blur(10px);
      box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px -12px;
      background-color: color-mix(
        in oklab,
        var(--color-gray-50) 50%,
        transparent
      );
      transform: scale(0.95);
    }
  }
</style>
