---
import Logo from "@/assets/logo.svg";
import Buttons from "@/components/Buttons.astro";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
---

<header class="p-4 bg-slate-100 border-b border-gray-300">
  <div class="flex items-center justify-between w-full max-w-7xl mx-auto">
    <a href="/">
      <Logo class="w-full h-auto max-w-36" />
    </a>
    {
      session ? (
        <Buttons name="Cerrar Sesión" btnId="logout-button" secondary />
      ) : (
        <Buttons name="Iniciar Sesión" btnId="login-button" />
      )
    }
  </div>
</header>
