---
import ArrowIcon from "@/assets/arrow.svg";
---

<section
  class="hero p-4 overflow-hidden bg-gradient-to-b from-gray-50 to-green-100"
>
  <div
    class="text-center space-y-4 w-full max-w-3xl mx-auto h-[80dvh] flex flex-col justify-center items-center"
  >
    <h1 class="title-principal font-bold font-cinzel text-gray-900">
      Control de Finanzas
    </h1>
    <p class="text-gray-600 text-balance">
      Administra tus finanzas de manera sencilla y efectiva. Lleva un control
      detallado de tus ingresos y gastos.
    </p>
    <a
      href="/dashboard"
      class="py-2 inline-flex items-center text-gray-600 relative transition-all duration-300 hover:text-gray-800 before:content-[''] before:absolute before:w-0 before:h-[2px] before:bg-gray-600 before:bottom-0 before:rounded-full before:transition-all before:duration-300 hover:before:w-full hover:before:bg-gray-800 group"
    >
      <span>Comenzar</span>
      <span class="group-hover:-rotate-30 transition-transform duration-300">
        <ArrowIcon class="size-5 ml-2 inline-block" />
      </span>
    </a>
  </div>
</section>

<style>
  h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    line-height: normal;
  }
  p {
    font-size: clamp(1.1rem, 3vw, 1.5rem);
    line-height: normal;
  }
</style>
