<section class="hero p-4">
  <div class="text-center py-20 space-y-4">
    <h1 class="title-principal font-bold font-cinzel">Control de Finanzas</h1>
    <p class="text-gray-500 text-balance">
      Administra tus finanzas de manera sencilla y efectiva. Aquí podrás llevar
      un control detallado de tus ingresos y gastos.
    </p>
    <a
      href="/dashboard"
      class="py-2 inline-flex items-center text-gray-600 relative transition-all duration-300 hover:text-gray-800 before:content-[''] before:absolute before:w-0 before:h-[2px] before:bg-gray-600 before:bottom-0 before:rounded-full before:transition-all before:duration-300 hover:before:w-full hover:before:bg-gray-800 group"
    >
      <span>Comenzar</span>
      <span class="group-hover:-rotate-30 transition-transform duration-300">
        <!-- svg arrow -->
        <svg
          class="size-5 inline-block ml-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 5l7 7-7 7M5 12h14"></path>
        </svg>
      </span>
    </a>
  </div>
</section>

<style>
  h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    line-height: normal;
  }
  p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    line-height: normal;
  }
</style>
