---
import ArrowIcon from "@/assets/arrow.svg";
import UserIcon from "@/assets/user.svg";
import { heroCards } from "@/consts/heroCards";
---

<section
  class="hero p-4 overflow-hidden min-h-screen flex items-center justify-center"
>
  <div class="w-full mx-auto max-w-6xl grid justify-center items-center gap-12">
    <article class="space-y-4 w-full flex items-center justify-center flex-col">
      <span
        class="rounded-full px-3 py-1 bg-gray-50/90 text-xs flex justify-center items-center gap-2 text-gray-600 font-semibold shadow-md text-center mb-8 intro-hero"
      >
        <span class="bg-green-400 size-2 rounded-full block animate-pulse"
        ></span>
        <span>Haz crecer tu dinero desde hoy</span>
      </span>
      <h1
        class="title-principal font-bold font-tenor-sans text-gray-900 text-balance lg:w-11/12 text-center"
      >
        Control de <span class="title-principal-gradient text-indigo-600"
          >Finanzas</span
        >
      </h1>
      <p class="text-gray-600 text-balance p-hero text-center max-w-2xl">
        Organiza tus ingresos y gastos fácilmente. Haz seguimiento y alcanza tus
        metas.
      </p>
      <div class="btns flex justify-center items-center gap-4 pt-4">
        <a href="/login" class="btn btn-primary btn-shadow-primary">
          <span><UserIcon class="size-5 inline-block" /></span>
          <span>Registrarme</span>
        </a>
        <a
          href="/dashboard"
          class="btn btn-secondary btn-shadow-secondary group"
        >
          <span class="block w-max">Ir a Dashboard</span>
          <span
            class="group-hover:-rotate-30 transition-transform duration-300"
          >
            <ArrowIcon class="size-5 ml-2 inline-block" />
          </span>
        </a>
      </div>
    </article>
    <article
      class="flex gap-4 items-center justify-center flex-wrap w-full max-w-2xl hero-cards"
    >
      {
        heroCards.map((card) => (
          <div class="bg-white/60 shadow-md rounded-lg p-2 flex items-center gap-2 min-w-[265px] backdrop-blur-md">
            <figure
              class:list={[card.colors.bg, card.colors.text, "p-1 rounded-sm"]}
            >
              <card.icon class="size-8" />
            </figure>
            <div>
              <h3 class="font-semibold text-gray-800 text-sm font-tenor-sans">
                {card.title}
              </h3>
              <p class="text-gray-600 text-xs">{card.description}</p>
            </div>
          </div>
        ))
      }
    </article>
  </div>
</section>

<style>
  h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    line-height: 1.1;
  }
  .p-hero {
    font-size: clamp(1rem, 3vw, 1.25rem);
    line-height: normal;
  }
</style>

<script>
  import gsap from "gsap";
  import SplitText from "gsap/SplitText";
  gsap.registerPlugin(SplitText);

  const tlTitle = gsap.timeline({
    defaults: { duration: 0.8, ease: "power2.out" },
  });

  const tlBtns = gsap.timeline({
    defaults: { duration: 0.8, ease: "power2.out" },
  });

  const splitTitle = new SplitText(".title-principal", { type: "chars" });
  const splitTitleGradient = new SplitText(".title-principal-gradient", {
    type: "chars",
  });

  tlTitle
    .from(splitTitle.chars, {
      y: 40,
      opacity: 0,
      filter: "blur(3px)",
      duration: 0.7,
      stagger: 0.04,
    })
    .from(
      splitTitleGradient.chars,
      {
        y: 40,
        opacity: 0,
        filter: "blur(3px)",
        duration: 0.7,
        stagger: 0.04,
      },
      "<",
    )
    .from(
      ".p-hero",
      {
        y: 40,
        opacity: 0,
        filter: "blur(3px)",
        duration: 0.7,
        stagger: 0.04,
      },
      "<",
    )
    .from(
      ".intro-hero",
      {
        y: 40,
        opacity: 0,
        scale: 0.3,
        duration: 0.7,
        stagger: 0.04,
      },
      "0.5",
    )
    .from(
      ".hero-cards div",
      {
        y: 60,
        opacity: 0,
        duration: 0.3,
        stagger: 0.06,
      },
      "0.8",
    );

  tlBtns.from(".btns a", {
    y: 60,
    opacity: 0,
    duration: 0.7,
    stagger: 0.04,
  });
</script>
